img {
    width: 100%;
    height: auto;
}
h2 {
    color: #fff;
    font-weight: bold;
}
p {
    color: #fff;
    font-size: 15px;
}
a {
    color: #fff;
    background-color: red;
    text-decoration: none;
    transition:  transform 450ms;
}
a:hover {
    color: #fff;
    background-color: red;
    text-decoration: none;
    transform: scale(1.05);
}